# Java Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Virtual Machine Crash Logs #
hs_err_pid*

# Gradle Files #
.gradle
gradle/
log/
target/
build/
gradlew
gradlew.bat

# IntelliJ Files #
*.iml
.idea

#Sass Files#
.sass-cache